In [1]:
import pandas as pd

In [28]:
meta_expt = pd.read_csv('METABRIC_Gene_Expression_data_implaced.txt', sep='\t')

In [29]:
meta_expt.head(2)

,Hugo_Symbol,MB-0362,MB-0346,MB-0386,MB-0574,MB-0503,MB-0641,MB-0201,MB-0218,MB-0316,...,MB-6122,MB-6192,MB-4820,MB-5527,MB-5167,MB-5465,MB-5453,MB-5471,MB-5127,MB-4313
0,RERE,8.676978,9.653589,9.033589,8.814855,9.274265,9.286585,8.437347,8.569973,8.892102,...,8.756024,8.804947,9.991215,9.595923,9.637249,8.131637,9.606915,9.049296,8.858622,8.415867
1,RNF165,6.075331,6.687887,5.910885,5.628740,5.908698,6.206729,6.095592,6.383530,5.773691,...,7.101087,5.601472,7.103160,6.418987,6.203370,9.101942,7.427494,6.850000,6.550450,6.831722

In [30]:
#remove genes with missing data

In [31]:
#meta_expt.to_csv('../data/METABRIC/METABRIC_Gene_Expression.txt',sep='\t')

In [32]:
# generate patients indexs

In [33]:
meta_index_expres = meta_expt.columns
meta_index_expres = meta_index_expres[1:]
meta_index_expres

Index(['MB-0362', 'MB-0346', 'MB-0386', 'MB-0574', 'MB-0503', 'MB-0641',
       'MB-0201', 'MB-0218', 'MB-0316', 'MB-0189',
       ...
       'MB-6122', 'MB-6192', 'MB-4820', 'MB-5527', 'MB-5167', 'MB-5465',
       'MB-5453', 'MB-5471', 'MB-5127', 'MB-4313'],
      dtype='object', length=1904)

In [ ]:
# load Surv and trans

In [20]:
surv = pd.read_csv('../data/METABRIC/data_clinical_patient.txt', sep='\t', skiprows=4)
surv.shape

(2509, 20)

In [21]:
surv.head(3)

,PATIENT_ID,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,BREAST_SURGERY,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE
0,MB-0000,140.500000,LIVING,Living,4ER+,1.0,75.65,r,6.044,pos,post,MASTECTOMY,NaN,NEUT,ER-/HER2-,claudin-low,NO,YES,YES,IDC
1,MB-0002,84.633333,LIVING,Living,4ER+,1.0,43.19,r,4.020,pos,pre,BREAST CONSERVING,high,NEUT,ER+/HER2- High Prolif,LumA,NO,YES,YES,IDC
2,MB-0005,163.100000,DECEASED,Died of Disease,3,1.0,48.87,r,4.030,pos,pre,MASTECTOMY,high,NEUT,NaN,LumB,YES,YES,NO,IDC

In [22]:
surv.set_index('PATIENT_ID', inplace=True)

In [23]:
surv.head()

,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,BREAST_SURGERY,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE
PATIENT_ID,,,,,,,,,,,,,,,,,,,
MB-0000,140.500000,LIVING,Living,4ER+,1.0,75.65,r,6.044,pos,post,MASTECTOMY,NaN,NEUT,ER-/HER2-,claudin-low,NO,YES,YES,IDC
MB-0002,84.633333,LIVING,Living,4ER+,1.0,43.19,r,4.020,pos,pre,BREAST CONSERVING,high,NEUT,ER+/HER2- High Prolif,LumA,NO,YES,YES,IDC
MB-0005,163.100000,DECEASED,Died of Disease,3,1.0,48.87,r,4.030,pos,pre,MASTECTOMY,high,NEUT,NaN,LumB,YES,YES,NO,IDC
MB-0006,164.933333,LIVING,Living,9,1.0,47.68,r,4.050,pos,pre,MASTECTOMY,moderate,NEUT,NaN,LumB,YES,YES,YES,IDC
MB-0008,41.366667,DECEASED,Died of Disease,9,1.0,76.97,r,6.080,pos,post,MASTECTOMY,high,NEUT,ER+/HER2- High Prolif,LumB,YES,YES,YES,IDC

In [24]:
surv = surv.dropna(subset=['OS_STATUS'])
surv.shape

(1980, 19)

In [25]:
surv['death'] = surv['OS_STATUS']
surv['death'].replace('DECEASED',1, inplace=True)
surv['death'].replace('LIVING',0, inplace=True)
surv['Survival'] = surv['OS_MONTHS'] * 30
surv['death'] = surv['death'].astype(int)

In [34]:
# load CNV

(1904,)

In [26]:
# icnv.to_csv('METABRIC_CNV_implaced_transformed.txt',index=False,sep='\t')
cnv = pd.read_csv('METABRIC_CNV_implaced_transformed.txt',sep='\t')
cnv.shape

(22544, 2174)

In [27]:
cnv.head(2)

,Hugo_Symbol,MB-0000,MB-0039,MB-0045,MB-0046,MB-0048,MB-0050,MB-0053,MB-0062,MB-0064,...,MB-5467,MB-5546,MB-5585,MB-5625,MB-5648,MB-6020,MB-6213,MB-6230,MB-7148,MB-7188
0,A1BG,0.5,0.5,0.25,0.5,0.5,0.5,0.5,0.25,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,A1BG-AS1,0.5,0.5,0.25,0.5,0.5,0.5,0.5,0.25,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

In [34]:
meta_index_cnv = cnv.columns
meta_index_cnv = meta_index_cnv[1:]
meta_index_cnv

Index(['MB-0000', 'MB-0039', 'MB-0045', 'MB-0046', 'MB-0048', 'MB-0050',
       'MB-0053', 'MB-0062', 'MB-0064', 'MB-0066',
       ...
       'MB-5467', 'MB-5546', 'MB-5585', 'MB-5625', 'MB-5648', 'MB-6020',
       'MB-6213', 'MB-6230', 'MB-7148', 'MB-7188'],
      dtype='object', length=2173)

In [35]:
def intersect(*d):
    sets = iter(map(set, d))
    result = sets.next()
    for s in sets:
        result = result.intersection(s)
    return result

In [36]:
d = [meta_index_cnv, meta_index_expres, surv.index]

In [37]:
inte = set(d[0]).intersection(*d)
len(inte)

1904

In [38]:
# reorginza all data sam eindex

tops = ['Hugo_Symbol']
tops.extend( list(inte))
meta_expre_reorga = meta_expt[tops]

# convert to 0 1 CNV

In [39]:
surv_reorganized = surv.ix[inte]

/home/ccorbi/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

In [40]:
surv_reorganized.head(2)

,OS_MONTHS,OS_STATUS,VITAL_STATUS,INTCLUST,COHORT,AGE_AT_DIAGNOSIS,LATERALITY,NPI,ER_IHC,INFERRED_MENOPAUSAL_STATE,...,CELLULARITY,HER2_SNP6,THREEGENE,CLAUDIN_SUBTYPE,CHEMOTHERAPY,HORMONE_THERAPY,RADIO_THERAPY,HISTOLOGICAL_SUBTYPE,death,Survival
PATIENT_ID,,,,,,,,,,,,,,,,,,,,,
MB-0168,122.766667,LIVING,Living,4ER+,1.0,60.26,l,4.034,pos,post,...,low,NEUT,ER+/HER2- Low Prolif,claudin-low,NO,YES,YES,IDC,0,3683.000001
MB-4601,56.266667,DECEASED,Died of Disease,5,3.0,39.14,r,5.060,neg,pre,...,low,GAIN,NaN,Basal,YES,NO,NO,IDC,1,1688.000000

In [41]:
meta_expre_reorga.head(2)

,Hugo_Symbol,MB-0168,MB-4601,MB-5260,MB-0048,MB-6212,MB-6144,MB-3367,MB-0396,MB-0284,...,MB-4735,MB-7053,MB-4687,MB-3500,MB-6185,MB-4965,MB-4353,MB-5474,MB-7235,MB-2669
0,RERE,8.723104,9.549530,9.967716,8.452693,9.341257,9.265420,8.527072,8.135700,8.229548,...,9.127426,8.757572,9.464219,7.546003,9.649537,10.030819,9.422678,9.291692,8.856144,8.647600
1,RNF165,6.442110,8.145549,8.165247,6.219375,6.074720,6.150461,5.920984,8.652278,6.528297,...,6.530829,5.694964,6.643975,6.696661,6.873848,7.539815,7.148996,7.104766,6.078551,5.648703

In [42]:
tops = ['Hugo_Symbol']
tops.extend( list(inte))
meta_cnv_reorga = cnv[tops]
meta_cnv_reorga.head(3)

,Hugo_Symbol,MB-0168,MB-4601,MB-5260,MB-0048,MB-6212,MB-6144,MB-3367,MB-0396,MB-0284,...,MB-4735,MB-7053,MB-4687,MB-3500,MB-6185,MB-4965,MB-4353,MB-5474,MB-7235,MB-2669
0,A1BG,0.25,0.25,0.5,0.50,0.5,0.5,0.25,0.50,0.5,...,0.5,0.75,0.5,0.50,0.5,0.5,0.75,0.5,0.5,0.25
1,A1BG-AS1,0.25,0.25,0.5,0.50,0.5,0.5,0.25,0.50,0.5,...,0.5,0.75,0.5,0.50,0.5,0.5,0.75,0.5,0.5,0.25
2,A1CF,0.25,0.25,0.5,0.75,0.5,0.5,0.25,0.75,0.5,...,0.5,0.50,0.5,0.25,0.5,0.5,0.50,0.5,0.5,0.50

In [85]:
meta_cnv_reorga.head(3)

,Hugo_Symbol,MB-4702,MB-0318,MB-3303,MB-4145,MB-6047,MB-2779,MB-5150,MB-4931,MB-5313,...,MB-5603,MB-0440,MB-4660,MB-0522,MB-3436,MB-5613,MB-6346,MB-5088,MB-7131,MB-4956
0,A1BG,0,0,0,-1,0,0,0,0,0,...,0,0,-1,0,2,0,0,0,0,0
1,A1BG-AS1,0,0,0,-1,0,0,0,0,0,...,0,0,-1,0,2,0,0,0,0,0
2,A1CF,0,0,-1,0,0,0,0,0,0,...,0,0,0,1,0,-1,0,0,0,0

In [43]:
meta_cnv_reorga.to_csv('METABRICCNV_CNV_data.txt',index=False,sep='\t')

In [44]:
meta_expre_reorga.to_csv('METABRICCNV_Gene_Expression.txt',index=False,sep='\t')

In [45]:
surv_reorganized_simple = surv_reorganized[['Survival','death' ]]
surv_reorganized_simple.shape

(1904, 2)

In [46]:
surv_reorganized_simple.head(2)

               Survival  death
PATIENT_ID
MB-0168     3683.000001      0
MB-4601     1688.000000      1

In [47]:
surv_reorganized_simple.to_csv('METABRICCNV_Survival.txt',sep='\t')

In [48]:
!pwd

/home/ccorbi/Work/Beagle/training/vae/METABRIC/notebook

In [49]:
meta_cnv_reorga.shape

(22544, 1905)

In [50]:
meta_expre_reorga.shape

(24368, 1905)